@use 'variables' as *;

@function multiply-px($value) {
  $pixels: $margin-xss * $value;
  @return #{$pixels};
}
// padding_classes
@for $i from 1 through 20 {
  .#{$prefix}-p-#{$i} {
    padding: multiply-px($i) !important;
  }
  .#{$prefix}-pr-#{$i} {
    padding-right: multiply-px($i) !important;
  }

  .#{$prefix}-pl-#{$i} {
    padding-left: multiply-px($i) !important;
  }

  .#{$prefix}-pt-#{$i} {
    padding-top: multiply-px($i) !important;
  }

  .#{$prefix}-pb-#{$i} {
    padding-bottom: multiply-px($i) !important;
  }
  .#{$prefix}-px-#{$i} {
    padding: 0 multiply-px($i) !important;
  }
  .#{$prefix}-py-#{$i} {
    padding: multiply-px($i) 0 !important;
  }
}

// margin_classes
@for $i from 1 through 20 {
  .#{$prefix}-m-#{$i} {
    margin: multiply-px($i) !important;
  }
  .#{$prefix}-mr-#{$i} {
    margin-right: multiply-px($i) !important;
  }
  .#{$prefix}-ml-#{$i} {
    margin-left: multiply-px($i) !important;
  }

  .#{$prefix}-mt-#{$i} {
    margin-top: multiply-px($i) !important;
  }
  .#{$prefix}-mb-#{$i} {
    margin-bottom: multiply-px($i) !important;
  }
  .#{$prefix}-my-#{$i} {
    margin: multiply-px($i) 0 !important;
  }

  .#{$prefix}-mx-#{$i} {
    margin: 0 multiply-px($i) !important;
  }
}
// width_class
@for $i from 1 through 100 {
  .w-#{$i} {
    width: $i * 1% !important;
  }
  .h-#{$i} {
    height: $i * 1% !important;
  }
}
// border_classes
@for $i from 1 through 20 {
  .#{$prefix}-b-#{$i} {
    border: #{$i}px solid black !important;
  }
}
// slide_image
.#{$prefix}-slide-image {
  width: 100% !important;
  height: 408px !important;
  box-shadow: 5px 5px 10px lightgray !important ;
}

//border_radius
@for $i from 1 through 50 {
  .#{$prefix}-br-#{$i} {
    border-radius: multiply-px($i) !important;
  }
}
// theme switch
.switch {
  margin: multiply-px(4) 0 multiply-px(4) multiply-px(6);
}

// flex
.#{$prefix}-flex {
  display: flex !important;
}

.#{$prefix}-inline-flex {
  display: inline-flex !important;
}

.#{$prefix}-items-center {
  align-items: center !important;
}

.#{$prefix}-items-start {
  align-items: flex-start !important;
}

.#{$prefix}-items-end {
  align-items: flex-end;
}

.#{$prefix}-justify-center {
  justify-content: center !important;
}

.#{$prefix}-justify-between {
  justify-content: space-between !important;
}

.#{$prefix}-justify-around {
  justify-content: space-around !important;
}

.#{$prefix}-justify-start {
  justify-content: flex-start !important;
}

.#{$prefix}-justify-evenly {
  justify-content: space-evenly !important;
}
.#{$prefix}-justify-end {
  justify-content: flex-end !important;
}

.#{$prefix}-flex-row {
  flex-direction: row !important;
}

.#{$prefix}-flex-row-reverse {
  flex-direction: row-reverse;
}

.#{$prefix}-flex-col {
  flex-direction: column !important;
}

.#{$prefix}-flex-col-reverse {
  flex-direction: column-reverse !important;
}

.#{$prefix}-overflow-x-scroll {
  overflow-x: scroll !important;
}
//position
.#{$prefix}-fixed {
  position: fixed !important;
}

.#{$prefix}-absolute {
  position: absolute !important;
}

.#{$prefix}-sticky {
  position: sticky;
}

.#{$prefix}-relative {
  position: relative !important;
}

// Aligns perfectly center
.#{$prefix}-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
//margin_auto
.#{$prefix}-mx-auto {
  margin: 0 auto;
}
.#{$prefix}-my-auto {
  margin: auto 0;
}

//box_shadow
.#{$prefix}-bx-s {
  box-shadow: 5px 5px lightgray;
}

//text_align
$text-alignment: center, right, left, justify;
@each $align in $text-alignment {
  .#{$prefix}-text-#{$align} {
    text-align: $align;
  }
}
//font_size
$font-sizes: "fs-1" $fs-text-1, "fs-2" $fs-text-2, "fs-3" $fs-text-3,
  "fs-4" $fs-text-4, "fs-5" $fs-text-5, "fs-6" $fs-text-6, "fs-7" $fs-text-7,
  "fs-8" $fs-text-8, "fs-page" $fs-page, "fs-sm-1" $fs-text-sm-1,
  "fs-sm-2" $fs-text-sm-2, "fs-sm-3" $fs-text-sm-3, "fs-sm-4" $fs-text-sm-4;

@each $name, $size in $font-sizes {
  .#{$prefix}-#{$name} {
    font-size: $size !important;
  }
}

//font_weight
@for $j from 1 through 5 {
  .#{$prefix}-fw-#{$j} {
    font-weight: 200 + ($j * 100) !important;
  }
}
//background_classes

$bg-colors: "bg-primary" $bg-primary, "bg-secondary" $bg-secondary,
  "bg-stlyed" $bg-styled;

@each $name, $bg in $bg-colors {
  .#{$prefix}-#{$name} {
    background-color: $bg !important;
  }
}

// text_colors
$txt-colors: "text-color" $text-color, "text-color-inverse" $text-color-inverse,
  "text-color-secondary" $text-color-secondary, "white" $white;

@each $name, $color in $txt-colors {
  .#{$prefix}-#{$name} {
    color: $color !important;
  }
}

//card_no
.#{$prefix}-card-no {
  top: -3%;
  background-color: $bg-styled;
  right: -5%;
  color: #fff;
}
//card_btn
