@use 'variables' as *;

@function multiply-px($value) {
  $pixels: $margin-xss * $value;
  @return #{$pixels};
}
// padding_classes
@for $i from 1 through 20 {
  .#{$prefix}-p-#{$i} {
    padding: multiply-px($i) !important;
  }
  .#{$prefix}-pr-#{$i} {
    padding-right: multiply-px($i) !important;
  }

  .#{$prefix}-pl-#{$i} {
    padding-left: multiply-px($i) !important;
  }

  .#{$prefix}-pt-#{$i} {
    padding-top: multiply-px($i) !important;
  }

  .#{$prefix}-pb-#{$i} {
    padding-bottom: multiply-px($i) !important;
  }
  .#{$prefix}-px-#{$i} {
    padding: 0 multiply-px($i) !important;
  }
  .#{$prefix}-py-#{$i} {
    padding: multiply-px($i) 0 !important;
  }
}

// margin_classes
@for $i from 1 through 20 {
  .#{$prefix}-m-#{$i} {
    margin: multiply-px($i) !important;
  }
  .#{$prefix}-mr-#{$i} {
    margin-right: multiply-px($i) !important;
  }
  .#{$prefix}-ml-#{$i} {
    margin-left: multiply-px($i) !important;
  }

  .#{$prefix}-mt-#{$i} {
    margin-top: multiply-px($i) !important;
  }
  .#{$prefix}-mb-#{$i} {
    margin-bottom: multiply-px($i) !important;
  }
  .#{$prefix}-my-#{$i} {
    margin: multiply-px($i) 0 !important;
  }

  .#{$prefix}-mx-#{$i} {
    margin: 0 multiply-px($i) !important;
  }
}
// width_class
@for $i from 1 through 100 {
  .w-#{$i} {
    width: $i * 1% !important;
  }
  .h-#{$i} {
    height: $i * 1% !important;
  }
}
// border_classes
@for $i from 1 through 20 {
  .#{$prefix}-b-#{$i} {
    border: #{$i}px solid black !important;
  }
}
// slide_image
.#{$prefix}-slide-image {
  width: 100% !important;
  height: 408px !important;
  box-shadow: 5px 5px 10px lightgray !important ;
}

//border_radius
@for $i from 1 through 20 {
  .#{$prefix}-br-#{$i} {
    border-radius: multiply-px($i);
  }
}
// theme switch
.switch {
  margin: multiply-px(4) 0 multiply-px(4) multiply-px(6);
}

// flex
.#{$prefix}-flex {
  display: flex !important;
}

.#{$prefix}-inline-flex {
  display: inline-flex !important;
}

.#{$prefix}-items-center {
  align-items: center !important;
}

.#{$prefix}-items-start {
  align-items: flex-start !important;
}

.#{$prefix}-items-end {
  align-items: flex-end;
}

.#{$prefix}-justify-center {
  justify-content: center !important;
}

.#{$prefix}-justify-between {
  justify-content: space-between !important;
}

.#{$prefix}-justify-around {
  justify-content: space-around !important;
}

.#{$prefix}-justify-start {
  justify-content: flex-start !important;
}

.#{$prefix}-justify-end {
  justify-content: flex-end !important;
}

.#{$prefix}-flex-row {
  flex-direction: row !important;
}

.#{$prefix}-flex-row-reverse {
  flex-direction: row-reverse;
}

.#{$prefix}-flex-col {
  flex-direction: column !important;
}

.#{$prefix}-flex-col-reverse {
  flex-direction: column-reverse !important;
}

//position
.#{$prefix}-fixed {
  position: fixed !important;
}

.#{$prefix}-absolute {
  position: absolute !important;
}

.#{$prefix}-sticky {
  position: sticky;
}

.#{$prefix}-relative {
  position: relative !important;
}

// Aligns perfectly center
.#{$prefix}-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
