$prefix: rif;

// margins paddings
$margin-xl-4: 40px; // containers
$margin-xl-3: 36px; // containers
$margin-xl-2: 32px; // containers
$margin-xl-1: 28px; // containers
$margin-xl: 24px; // containers
$margin-lg: 20px; // containers
$margin-md: 16px; // small containers and buttons
$margin-sm: 12px; // Form controls and items
$margin-xs: 8px; // small items
$margin-xss: 4px; // more small

//themes_styles
$bg-primary: white;
$bg-secondary: #1d1f22;
$bg-styled:#48edb5;
$text-color: #000;
$text-color-inverse: #d4d4d5;
$text-color-secondary: rgba(212, 212, 213, 0.45);
$border-color-base: #d9d9d9;
$white:#fff;
// Font-size
$fs-page: 1rem * 2; // 32px (default)
$fs-text-sm-1: 1rem * 0.5; // 8px (default)
$fs-text-sm-2: 1rem * 0.625; // 10px (default)
$fs-text-sm-3: 1rem * 0.75; // 12px (default)
$fs-text-sm-4: 1rem * 0.875; // 14px (default)
$fs-text-1: 1rem; // 16px (default)
$fs-text-2: 1rem * 1.125; // 18px (default)
$fs-text-3: 1rem * 1.25; // 20px (default)
$fs-text-4: 1rem * 1.5; // 24px (default)
$fs-text-5: 1rem * 2; // 32px (default)
$fs-text-6: 1rem * 2.125; // 34px (default)
$fs-text-7: 1rem * 2.25; // 36px (default)
$fs-text-8: 1rem * 2.5; // 40px (default)
