$prefix: rif;

// margins paddings
$margin-xl-4: 40px; // containers
$margin-xl-3: 36px; // containers
$margin-xl-2: 32px; // containers
$margin-xl-1: 28px; // containers
$margin-xl: 24px; // containers
$margin-lg: 20px; // containers
$margin-md: 16px; // small containers and buttons
$margin-sm: 12px; // Form controls and items
$margin-xs: 8px; // small items
$margin-xss: 4px; // more small

//themes_styles
$background-primary: white;
$text-color-primary: black;
$background-secondary: black;
$text-color-secondary: white;
