@use './component/_shared/styles/_global.scss';
@import "./component/_shared/styles/_variables.scss";

[data-theme="light"] {
  background-color: $bg-primary !important;
  color: $text-color !important;
}

[data-theme="dark"] {
  background-color: $bg-secondary !important;
  color: $text-color-secondary !important;
}
[data-theme="dark"] [class*="rif-"] {
  box-shadow: 1px 1px black !important;
  background-color: $bg-secondary !important;
  color: $text-color-inverse !important;
}
[data-theme="dark"] .rif-btn {
  background-color: $bg-secondary !important;
  color: $text-color-inverse !important;
  border: 1px solid $border-color-base !important;
}
